.page-header
  = link_to tracks_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_track_path(@track), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show track

%dl.dl-horizontal
  %dt Name:
  %dd= @track.name
