.page-header
  %h1= Location.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Location.human_attribute_name(:name)

    %tbody
      - @locations.each do |location|
        %tr
          %td= location.name
