.page-header
  = link_to track_path(@bmark.track), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('back')
  %h1= t('new_model', model: Bmark.model_name.human)

= render 'form'
